// Large devices (laptops and desktops)
@media (max-width: 1300px) {
	
	#control-panel nav ul li {
		font-size: 1.1vw;
	}
	
	.pane h1 {
		font-size: 1.5em;
	}
	
	#control-panel #data-pane ol#data-list li {
		font-size: 1.3vw;
	}
	
	#control-panel #data-pane div.input-group button {
		bottom: 0.13vw;
	}
	
	#control-panel #data-pane ol#data-list li button {
		bottom: 0.22vw;
		padding: 0.15vw 0.65vw 0.15vw 0.5vw;
		font-size: 1.41vw;
	}
	
	#control-panel #data-pane div.insert-button-group button {
		font-size: 1.5vw;
		padding: 0.8vw;
		bottom: -2px;
	}
	
	#chart-panel #guide-labels {
		width: 13%;
	}
	
	#chart-panel #guide-labels text {
		font-size: 1.2vm !important;
	}
	
	#chart-panel #control-chart {
		width: 87%;
	}
	
	footer #copyright p {
		font-size: 0.7vw;
	}
	
	header #signature #author {
		width: 7.7vw;
	}
	
	header #signature #author:hover {
		width: 15.7vw;
	}
	
	header #signature #author #name {
		font-size: 0.9vw;
		top: 0.6vh;
	}
	
	header #signature #author #website {
		font-size: 1vw;
	}
	
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
	
	.mobile-only {
		display: block !important;
	}
	
	#drawer-toggle {
		display: block !important;
		float: left;
		padding: 0;
		height: 87.5vh;
		width: 22px;
		bottom: 0;
		border-radius: 0;
	}
	
	#chart-panel {
		width: calc(75% - 22px);
	}
	
	
	
}